<a href="https://colab.research.google.com/github/tarunmukku/citi-hackathon/blob/main/Consumer_complaints_dataset_prepration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive
import matplotlib.image as mpimg

In [60]:
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
!unzip -q '/content/gdrive/MyDrive/complaints.csv.zip'

In [30]:
df = pd.read_csv('/content/complaints.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [62]:
df.head()

,Sub-product,Consumer complaint narrative,Complaint ID,word_count
0,Medical debt,I wrote a letter to AR Resources about a medic...,5312953,100
1,Medical debt,"So, my wife and I have had our credit pulled t...",5303506,210
2,Domestic (US) money transfer,XX/XX/2022 - 4 XXXX transactions were made eac...,5405508,234
3,Domestic (US) money transfer,"XXXX XXXX Abuse My name is XXXX XXXX XXXX, a ...",5363397,2188
4,Domestic (US) money transfer,"On XXXX, I sent a wire transfer in the amount ...",5349143,115

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sub-product                   20000 non-null  string
 1   Consumer complaint narrative  20000 non-null  string
 2   Complaint ID                  20000 non-null  int64
 3   word_count                    20000 non-null  int64
dtypes: int64(2), string(2)
memory usage: 625.1 KB

In [64]:
df['Sub-product'].unique()

<StringArray>
[                'Medical debt', 'Domestic (US) money transfer',
              'Savings account',                  'Credit card',
                 'Vehicle loan']
Length: 5, dtype: string

In [65]:
df = df[df['Consumer complaint narrative'].notna()]

In [66]:
df = df.drop(['Date received','Issue','Product','Sub-issue','Company public response','Company','State','ZIP code','Tags','Consumer consent provided?','Submitted via','Date sent to company','Company response to consumer','Timely response?','Consumer disputed?'], axis = 1)

KeyError: ignored

In [ ]:
df.info()

'Credit card','Debt collection','Student loan','Money transfers','Prepaid card','Virtual currency','Credit reporting'

In [ ]:
pd.set_option('display.max_rows', 75)

'Credit card debt','Domestic (US) money transfer','Conventional home mortgage','Installment loan','Medical','Mobile or digital wallet'

In [ ]:
print (df.groupby(['Sub-product'], sort=True).size().reset_index(name='Count'))

In [67]:
df = df[df['Sub-product'].isin(['Credit card','Medical debt','Vehicle loan','Domestic (US) money transfer','Savings account'])]

In [68]:
df['word_count'] = df['Consumer complaint narrative'].str.split().str.len()

In [69]:
df = df[(df.word_count >= 10)]

In [70]:
df = df.drop_duplicates(subset='Consumer complaint narrative', keep="first")

In [71]:
print(df.groupby(['Sub-product'], sort=True).size().reset_index(name='Count'))

                    Sub-product  Count
0                   Credit card   4000
1  Domestic (US) money transfer   4000
2                  Medical debt   4000
3               Savings account   4000
4                  Vehicle loan   4000

In [72]:
df.sort_values(by='word_count', ascending=True)

,Sub-product,Consumer complaint narrative,Complaint ID,word_count
18690,Vehicle loan,I did not authorize a credit inquiry from this...,2184548,10
18382,Vehicle loan,I HAVE PAID MY CAR LOAN. I DO N'T OWE.,1935713,10
15915,Credit card,Contacted about debt that is not on my credit ...,2396526,10
15718,Savings account,Wasnt able to open a checking account with Cha...,3985469,10
11654,Domestic (US) money transfer,Pnc won't let me add my bank account to XXXX.,3673990,10
...,...,...,...,...
3030,Domestic (US) money transfer,On XX/XX/2019 SunTrust informed CFPB for I to ...,3383181,3297
9405,Domestic (US) money transfer,I was advised by the XXXX XXXX XXXX to reach ...,4080143,3348
11158,Savings account,"I went to TD Bank on XX/XX/XXXX, with a very l...",3470027,3618
11364,Domestic (US) money transfer,XX/XX/2019 Parties Involved Zelle XXXX XXXX XX...,3374243,3659
1542,Domestic (US) money transfer,XX/XX/2019 I was a victim of rental scam on XX...,3375208,3808

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 0 to 19999
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sub-product                   20000 non-null  string
 1   Consumer complaint narrative  20000 non-null  string
 2   Complaint ID                  20000 non-null  int64
 3   word_count                    20000 non-null  int64
dtypes: int64(2), string(2)
memory usage: 781.2 KB

In [74]:
print (df.groupby(['Sub-product'], sort=True).size().reset_index(name='Count'))

                    Sub-product  Count
0                   Credit card   4000
1  Domestic (US) money transfer   4000
2                  Medical debt   4000
3               Savings account   4000
4                  Vehicle loan   4000

In [75]:
df['Sub-product'] = df['Sub-product'].astype('string')

In [76]:
df['Consumer complaint narrative'] = df['Consumer complaint narrative'].astype('string')

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 0 to 19999
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sub-product                   20000 non-null  string
 1   Consumer complaint narrative  20000 non-null  string
 2   Complaint ID                  20000 non-null  int64
 3   word_count                    20000 non-null  int64
dtypes: int64(2), string(2)
memory usage: 781.2 KB

In [78]:
df.groupby('Sub-product').head(3000).reset_index(drop=True)

,Sub-product,Consumer complaint narrative,Complaint ID,word_count
0,Medical debt,I wrote a letter to AR Resources about a medic...,5312953,100
1,Medical debt,"So, my wife and I have had our credit pulled t...",5303506,210
2,Domestic (US) money transfer,XX/XX/2022 - 4 XXXX transactions were made eac...,5405508,234
3,Domestic (US) money transfer,"XXXX XXXX Abuse My name is XXXX XXXX XXXX, a ...",5363397,2188
4,Domestic (US) money transfer,"On XXXX, I sent a wire transfer in the amount ...",5349143,115
...,...,...,...,...
14995,Savings account,"On XXXX XXXX, 2016 I found out that CITI bank ...",1924312,122
14996,Savings account,XXXX XXXX 2014 Wells Fargo Bank FINANCIAL CRIM...,1743745,677
14997,Savings account,I would like Scottrade to fully and responsive...,1636961,61
14998,Savings account,My CapitalOne 360 savings account was hacked. ...,2140370,71
14999,Savings account,I am writing on behalf of my son. My son and I...,1636975,123

In [79]:
df.sort_values(by='word_count', ascending=True)

,Sub-product,Consumer complaint narrative,Complaint ID,word_count
18690,Vehicle loan,I did not authorize a credit inquiry from this...,2184548,10
18382,Vehicle loan,I HAVE PAID MY CAR LOAN. I DO N'T OWE.,1935713,10
15915,Credit card,Contacted about debt that is not on my credit ...,2396526,10
15718,Savings account,Wasnt able to open a checking account with Cha...,3985469,10
11654,Domestic (US) money transfer,Pnc won't let me add my bank account to XXXX.,3673990,10
...,...,...,...,...
3030,Domestic (US) money transfer,On XX/XX/2019 SunTrust informed CFPB for I to ...,3383181,3297
9405,Domestic (US) money transfer,I was advised by the XXXX XXXX XXXX to reach ...,4080143,3348
11158,Savings account,"I went to TD Bank on XX/XX/XXXX, with a very l...",3470027,3618
11364,Domestic (US) money transfer,XX/XX/2019 Parties Involved Zelle XXXX XXXX XX...,3374243,3659
1542,Domestic (US) money transfer,XX/XX/2019 I was a victim of rental scam on XX...,3375208,3808

In [80]:
df = df.groupby('Sub-product').head(4000).reset_index(drop=True)

In [81]:
df.sort_values(by='word_count', ascending=True)

,Sub-product,Consumer complaint narrative,Complaint ID,word_count
18690,Vehicle loan,I did not authorize a credit inquiry from this...,2184548,10
18382,Vehicle loan,I HAVE PAID MY CAR LOAN. I DO N'T OWE.,1935713,10
15915,Credit card,Contacted about debt that is not on my credit ...,2396526,10
15718,Savings account,Wasnt able to open a checking account with Cha...,3985469,10
11654,Domestic (US) money transfer,Pnc won't let me add my bank account to XXXX.,3673990,10
...,...,...,...,...
3030,Domestic (US) money transfer,On XX/XX/2019 SunTrust informed CFPB for I to ...,3383181,3297
9405,Domestic (US) money transfer,I was advised by the XXXX XXXX XXXX to reach ...,4080143,3348
11158,Savings account,"I went to TD Bank on XX/XX/XXXX, with a very l...",3470027,3618
11364,Domestic (US) money transfer,XX/XX/2019 Parties Involved Zelle XXXX XXXX XX...,3374243,3659
1542,Domestic (US) money transfer,XX/XX/2019 I was a victim of rental scam on XX...,3375208,3808

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [82]:
print(df.groupby(['Sub-product'], sort=True).size().reset_index(name='Count'))

                    Sub-product  Count
0                   Credit card   4000
1  Domestic (US) money transfer   4000
2                  Medical debt   4000
3               Savings account   4000
4                  Vehicle loan   4000

In [85]:
df.rename(columns = {'Domestic (US) money transfer':'money transfer'}, inplace = True)

In [86]:
import numpy as np
rng = np.random.RandomState(125)

train = df.sample(frac=0.7, random_state=rng)
test = df.loc[~df.index.isin(train.index)]

train.to_csv('train.csv', sep='\t', index=False, encoding='utf-8')

test.to_csv('test.csv', sep='\t', index=False, encoding='utf-8')